@{
    ViewBag.Title = "Краткое описание";
}
<h2>Краткое описание</h2>

<p>
    Веб-приложение предоставляет информацию о динамике официалных курсов валют Банка России.
    Для выбора доступны валюты из пересечения перечня доступных в веб-сервисе ЦБ и списка стандарта ISO 4217
    с несколькими исключениями. Например, доступны валюты наших соседей, которые недавно переехали в зону евро.
    Для тех дней, курс на которые не устанавливался (выходные, праздники), в качестве значения указываются
    предыдущие значения.
</p>

<p>
    Для получения информации следует зарегистрироваться.
</p>

<p>
    Для поиска валюты начните набирать название на русском или английском языке или её код. Будет показан список
    подходящих валют. Интересующие валюты следует "прикрепить" с помощью соответствующей кнопки. Далее в
    списке прикрепленных валют можно нажать на кнопку "Включить", после чего станет доступным выбор интервала дат.
    После выбора интервала следует нажать кнопку "Показать". Динамика курса будет представлена в виде графика
    и таблицы значений с указанием роста/падения. После изменения интервала нужно нажать кнопку "Обновить", чтобы
    график и таблица актуализировались.
</p>