@{
    ViewBag.Title = "Краткое описание";
}
<h2>Краткое описание</h2>

<p>
    Для выбора доступны валюты из пересечения перечня доступных в сервисе ЦБ и списка стандарта ISO 4217
    с небольшими исключениями. Например, доступны валюты наших соседей, которые недавно переехали в зону евро.
</p>