@{
    ViewBag.Title = "Подтверждение сброса пароля";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Пароль был сброшен. @Html.ActionLink("Кликните здесь, чтобы войти", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
